{{outlet}}
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Scrabble Two Word Lookup</strong> made with <i class="fa fa-heart"></i> for Thuttu and Thata
            </p>
        </div>
    </div>
</footer>